{% extends 'SymplefyFrontendBundle::layout.html.twig' %}

{% block content_main %}
<div class="span9">
    #CONTENT_MAIN_TWITTER_INDEX#
</div>
{% endblock content_main %}

{% block content_sidebar %}
    <div class="span3">
    #CONTENT_SIDEBAR_TWITTER_INDEX#
</div>
{% endblock content_sidebar%}