{% extends 'SymplefyFrontendBundle::layout.html.twig' %}

{% block content_main %}
<div class="span12">
    #FREE_MEMBERSHIP#
</div>
{% endblock content_main %}

{% block content_sidebar %}
    
{% endblock content_sidebar%}