{% extends 'SymplefyFrontendBundle::layout.html.twig' %}

{% block content_main %}
<div class="span6 offset3">
    {% block fos_user_content %}
    
    {% endblock fos_user_content %}
</div>
<div class="span3">
</div>
{% endblock content_main %}

{% block content_sidebar %}
{% endblock content_sidebar %}
