{% extends '::base.html.twig' %}

{% block content_main %}
<div class="span8 offset2">
    {{ block('fos_user_content') }}
</div>
<div class="span2">
</div>
{% endblock content_main %}

{% block content_sidebar %}
{% endblock content_sidebar %}
